@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --left-bg-color: rgba(87, 84, 236, 0.7);
    --right-bg-color: rgba(43, 43, 43, 0.8);
    --left-btn-hover-color: rgba(87, 84, 236, 1);
    --right-btn-hover-color: rgba(28, 122, 28, 1);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;
}

body {
    width: 99vw;
    height: 99vh;
    background-color: #0f6fb7;
}

.splitHead {
    font-size: 3rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.splitBtn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-decoration: none;
    color: black;
    border: black rounded 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 15rem;
    padding: 1.5rem;
}

.split.left .splitBtn:hover {
    background-color: var(--left-btn-hover-color);
    border-color: var(--left-btn-hover-color);
    color: white;
}

.split.right .splitBtn:hover {
    background-color: var(--right-btn-hover-color);
    border-color: var(--right-btn-hover-color);
    color: white;
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left {
    left: 0;
    background: url('./images/lightning.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.left::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--left-bg-color);
}

.split.right {
    right: 0;
    background: url('./images/beach.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -250px;
}

.split.right::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--right-bg-color);
}

.split.right,
.split.left,
.split.right::before,
.split.left::before {
    transition: all var(--speed) ease-in-out;
}

.hover-left .left {
    width: var(--hover-width);
}

.hover-left .right {
    width: var(--other-width);
}

.hover-right .right {
    width: var(--hover-width);
}

.hover-right .left {
    width: var(--other-width);
}

#mainArea {
    height: 89vh;
}

#gameArea {
    background-color: #0f6fb7;
    height: 89vh;
}

#gameArea button {
    margin: 0rem 1rem;
}

#topBar {
    background-color: #0f6fb7;
    height: 10vh;
}

#questNum {
    background-color: #0f6fb7;
}

#scoreArea {
    background-color: #0f6fb7;
}

#logo {
    background: url('./images/triviaLogo.png');
    background-repeat: no-repeat;
    background-position: 40%;
}

#lightScore {
    background-color: #0f6fb7;
    height: 100vh;
}

#casualScore {
    background-color: #0f6fb7;
    height: 100vh;
}

.choseArea {
    background-color: #0f6fb7;
    background: url('./images/qmark2.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    height: 89vh;
}

.choseArea h6 {
    color: #ade3e3;
}

.choseArea h2 {
    color: #8083c8;
    font-family: 'Roboto', sans-serif;
}

#questText {
    color: black;
    text-shadow: 3px 3px #20571c;
}

.btn-purp {
    color: #91E3E2;
    background-color: #262F8A;
    border-color: #7580C0;
}

.btn-purp:hover,
.btn-purp:focus,
.btn-purp:active,
.btn-purp.active,
.open .dropdown-toggle.btn-purp {
    color: #91E3E2;
    background-color: #152350;
    border-color: #7580C0;
}

.btn-purp:active,
.btn-purp.active,
.open .dropdown-toggle.btn-purp {
    background-image: none;
}

.btn-purp.disabled,
.btn-purp[disabled],
fieldset[disabled] .btn-purp,
.btn-purp.disabled:hover,
.btn-purp[disabled]:hover,
fieldset[disabled] .btn-purp:hover,
.btn-purp.disabled:focus,
.btn-purp[disabled]:focus,
fieldset[disabled] .btn-purp:focus,
.btn-purp.disabled:active,
.btn-purp[disabled]:active,
fieldset[disabled] .btn-purp:active,
.btn-purp.disabled.active,
.btn-purp[disabled].active,
fieldset[disabled] .btn-purp.active {
    background-color: #262F8A;
    border-color: #7580C0;
}

.btn-purp .badge {
    color: #262F8A;
    background-color: #91E3E2;
}

@media (max-width: 890px) {
    .splitHead {
        font-size: 1.5rem;
        top: 30%;
    }
    .splitBtn {
        padding: 1rem;
        width: 8rem;
    }
    #catHead {
        display: none;
    }
}

@media (max-width: 530px) {
    #questText {
        font-size: 23px;
    }
    #gameArea button {
        margin: 0;
        font-size: 13px;
    }
    #questNum {
        font-size: 18px;
    }
    #scoreArea {
        font-size: 18px;
    }
}